body {
    background-color: #252525;
}







.Container{
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: #FF0000;
    justify-content: center;
    margin-left: 300px;

}
.FLE{
    width: 700px;
    display: flex;
    margin-top: 110px;
    margin-left: 140px;
    position: absolute;
}